@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700;800&display=swap");
/* ============================================= */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
/* ============================================== */

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-primary bg-MainDark text-LightGrey;
  }
  button {
    @apply text-LightGrey;
  }
  .loadingSpin {
    @apply w-[100px] h-[100px] animate-spin rounded-full border-t-[10px] border-t-transparent border-[10px] border-solid border-blue-500;
  }
  .page-container {
    @apply w-full max-w-[1300px] px-5 mx-auto;
  }
  .imgCover {
    @apply w-full h-full object-cover;
  }
}
